.right {
  position: absolute;
  right: 3.1rem;
}

.profileIcon {
  font-size: 1.4rem;
  padding-top: 1.4rem;
}

.popoverButton {
  width: 7rem;
}

.search {
  width: 24rem;
  padding-top: 1rem;
}

.logo {
  position: relative;
  top: 0.7rem;
  margin-right: 1rem;
}
