$favorite-color: #ff5e5b;

.button {
  top: -1.5rem;
  width: 8.6rem;
}

.favorite {
  @extend .button;
  color: white;
  background: $favorite-color;
  border: black;

  &:focus,
  &:hover {
    background: $favorite-color;
  }
}

.list {
  padding-left: 0;
  list-style-type: none;
}

.meter {
  float: right;
  padding-right: 3rem;
  p {
    padding: 0.5rem 0 0 1.5rem;
    color: #b0b0b0;
  }
}

.cover {
  margin: -7rem 0 1rem 0;
}

.summary {
  margin: -10rem 0 0 3rem;
  width: 50%;
}

.genre {
  text-transform: capitalize;
}
