.listButton {
  float: right;
  padding-bottom: 1rem;
}

.stats {
  padding: 1rem 0 4rem 0;
}

.summary {
  float: left;
  padding-right: 5rem;
}

.title {
  display: inline-block;
}

.joinDate {
  margin: 1rem 0 0 0;
}
