@import '../../styles/colors.scss';

.content {
  display: grid;
  place-items: center;
}

.card {
  width: 25rem;
  height: 14rem;
}

.body {
  background: $bg-secondary;
}

.head {
  background: $bg-primary;
}
